@import 'splash';
@mixin location($name, $left, $top) {
  .#{$name} {
    left: $left;
    margin: $top 0 0;
  }
}

.wrapper {
  position: absolute;
}

.computer {
  color: #fffffa;
  font-size: 5vw;
  position: absolute;
}

@include location(c1, 15%, 20%);
@include location(c2, 45%, 25%);
@include location(c3, 75%, 18%);

.bolt-wrapper {
  margin: 8% 0 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.bolt {
  animation: blink 20s infinite 0.3s;
  color: #2e2f30;
  display: block;
  font-size: 2.3vw;
  margin: auto;
  width: 20%;
}
