.outer {
  border-radius: 0.625vw;
  display: block;
  height: 1.3vw;
  margin: 0.05vw 0;
  position: relative;
  text-align: center;
  top: 0;
  width: 25vw;
}

.ledger {
  background-color: #333;
  border: 0.06vw solid #444;
  border-radius: 0.625vw;
  display: inline-block;
  font-size: 0.7vw;
  height: 1vw;
  text-align: center;
  width: 25vw;
}

.hash {
  width: 18vw;
}

.value {
  width: 2vw;
}
