.outer {
  height: 12%;
  margin: 0.5% 0;
  position: relative;
  text-align: center;
  width: 100%;
}

.ledger {
  background-color: #333;
  border-radius: 0.625vw;
  font-size: 0.7vw;
  margin: 0 2.5% 0 7.5%;
  text-align: center;
  width: 100%;
}

.hash {
  width: 70%;
}

.value {
  left: 80%;
  margin: 0 10% 0 2.5%;
  position: absolute;
  top: 0;
  width: 10%;
}
