@import url('https://fonts.googleapis.com/css?family=Volkhov');

.container {
  background-color: #2e2f30;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.li {
  display: flex;
  margin: 0;
  width: 100px;
}

.li .a {
  border-radius: 5px;
  color: #fffffa;
  display: block;
  margin: 0 auto;
  padding: 5px 30px;
  text-align: center;
  text-decoration: none;
}

.li .a:hover {
  background-color: #d3d0cb;
}

.text-container {
  margin: 2em auto 0.5em;
  text-align: center;
  width: 100%;
}

.title {
  color: #fffffa;
  font-family: 'Volkhov', serif;
}

.right {
  display: inline-block;
  position: absolute;
  right: 1em;
  top: 0;
}
