@import url('https://fonts.googleapis.com/css?family=Volkhov');

.container {
  background-color: #fff;
  color: #2e2f30;
  font-family: 'Volkhov', serif;
  padding: 2% 0 5%;
  position: relative;
  text-align: center;
}

.container1 {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%), url('../../../../../static/blocks.jpg') no-repeat;
  background-size: cover;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 50%;
}

.text {
  border-radius: 3px 5px;
  border-right: 3px solid #2e2f30;
  border-top: 3px solid #2e2f30;
  padding: 2em;
  text-align: left;
}

input,
button {
  background-color: #fffffa;
  border: 2px #2e2f30 solid;
  border-radius: 10px;
  color: #2e2f30;
  margin: 0 0.5em;
  padding: 0.5em 1em;
}

input:focus,
button:active {
  background-color: #2e2f30;
  color: #fffffa;
  outline: none;
}

.center {
  background-color: #2e2f30;
  border-radius: 10px;
  padding: 1em 2em;
  text-align: center;
}

.unfocused { border: 2px #2e2f30 solid; }
.focused { border: 2px #fffffa solid; }
.valid { border: 2px rgb(0, 255, 0) solid; }
.invalid { border: 2px rgb(255, 0, 0) solid; }

.error { 
  background-color: rgba(255, 0, 0, 0.9);
  color: #fff; 
}

.submitted { 
  background-color: rgba(0, 255, 0, 0.9);
  color: #2e2f30; 
}
