/**
 * Oscuro: #283035
 * Azul: #03658c
 * Detalle: #c7cacb
 * Fondo: #dee1e3
 ----------------------------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #03658c;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

body {
  background: #dee1e3;
  font-family: 'Roboto', Arial, Helvetica, Sans-serif, Verdana;
}

/** ====================
* Comments
=======================*/
.comments-container {
  margin: 2em 0 1em;
  width: 100%;
}

.comments-container h1 {
  color: #283035;
  font-size: 36px;
  font-weight: 400;
}

.comments-container h1 a {
  font-size: 18px;
  font-weight: 700;
}

.comments-list {
  position: relative;
}

/**
* Lines / Details
-----------------------*/
.comments-list::before {
  background: #c7cacb;
  content: '';
  height: 100%;
  left: 2px;
  position: absolute;
  top: 0;
  width: 2px;
}

.comments-list::after {
  background: #c7cacb;
  border: 3px solid #dee1e3;
  border-radius: 50%;
  bottom: 0;
  content: '';
  height: 7px;
  left: 0;
  position: absolute;
  width: 7px;
}

.reply-list::before,
.reply-list::after {
  display: none;
}

.reply-list li::before {
  background: #c7cacb;
  content: '';
  height: 2px;
  left: -48px;
  position: absolute;
  top: 17px;
  width: 25px;
}


.comments-list li {
  display: block;
  margin-bottom: 15px;
  position: relative;
}

.comments-list li::after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  width: 0;
}

.reply-list {
  clear: both;
  margin-top: 15px;
  padding-left: 50px;
}
/**
* Avatar
---------------------------*/
.comments-list .comment-avatar {
  border: 3px solid #fff;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  float: left;
  height: 50px;
  overflow: hidden;
  position: relative;
  width: 50px;
  z-index: 99;
}

.comments-list .comment-avatar img {
  height: 100%;
  width: 100%;
}

.reply-list .comment-avatar {
  height: 50px;
  width: 50px;
}

.comment-main-level::after {
  clear: both;
  content: '';
  display: block;
  height: 0;
  width: 0;
}
/**
* Comment Box
---------------------------*/
.comments-list .comment-box {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  float: right;
  position: relative;
  width: calc(100% - 15px);
}

.comments-list .comment-box::before,
.comments-list .comment-box::after {
  border-color: transparent #fcfcfc;
  border-style: solid;
  border-width: 10px 12px 10px 0;
  content: '';
  display: block;
  height: 0;
  left: -11px;
  position: absolute;
  top: 8px;
  width: 0;
}

.comments-list .comment-box.post::before,
.comments-list .comment-box.post::after {
  border-color: transparent #03658c;
}

.comments-list .comment-box::before {
  border-color: transparent rgba(0, 0, 0, 0.1);
  border-width: 11px 13px 11px 0;
  left: -12px;
}

.reply-list .comment-box {
  width: 100%;
}

.comment-box .comment-head {
  background: #fcfcfc;
  border-bottom: 1px solid #e5e5e5;
  border-radius: 4px 4px 0 0;
  overflow: hidden;
  padding: 4px 15px;
}

.comment-box .comment-head.post {
  background-color: #03658c;
  color: #fff;
}

.comment-box .comment-head i,
.comment-box .comment-head b {
  color: #a6a6a6;
  float: right;
  margin: 4px 0 0 14px;
  position: relative;
  top: 2px;
  transition: color 0.3s ease;
}

.comment-box .comment-head i {
  cursor: pointer;
}

.comment-box .comment-head i:hover {
  color: #03658c;
}

.comment-box .comment-name {
  color: #283035;
  float: left;
  font-size: 14px;
  font-weight: 700;
  margin-right: 10px;
}

.comment-box .comment-name a {
  color: #283035;
}

.comment-box .comment-head span {
  color: #999;
  float: left;
  font-size: 13px;
  margin: 6px 0;
  position: relative;
  top: 1px;
}

.comment-box .comment-content {
  background: #fff;
  border-radius: 0 0 4px 4px;
  color: #595959;
  font-size: 15px;
  padding: 12px;
}

.comment-box .comment-name,
.comment-box .comment-name a {
  color: #03658c;
}

.comment-box .comment-name.by-author::after {
  background: #03658c;
  border-radius: 3px;
  color: #fff;
  content: 'Site Creator';
  font-size: 12px;
  font-weight: 700;
  margin-left: 10px;
  padding: 3px 5px;
}

.comment-box .comment-name.you::after {
  background: #00b700;
  border-radius: 3px;
  color: #fff;
  content: 'You';
  font-size: 12px;
  font-weight: 700;
  margin-left: 10px;
  padding: 3px 5px;
}


/** =====================
* Responsive
========================*/
@media only screen and (max-width: 766px) {
  .comments-container {
    width: 480px;
  }

  .comments-list .comment-box {
    width: 390px;
  }

  .reply-list .comment-box {
    width: 320px;
  }
}
