.nav {
  background-color: rgba(#2e2f30, 0);
  color: #fffffa;
  display: flex;
  position: fixed;
  text-align: center;
  top: -3em;
  transition: top 0.3s, background-color 0.5s;
  z-index: 1;
}

.container {
  align-self: stretch;
  display: block;
  float: left;
  margin: auto 0;
}

.shownav {
  background-color: rgba(#2e2f30, 1);
  top: 0;
  transition: top 0.3s 0.15s, background-color 0.5s 0.15s;
}

.back {
  color: #fffffa;
  height: 100%;
  margin: auto 0;
}

.back:hover {
  color: #fffffa;
  cursor: pointer;
  text-decoration: none;
}

.arrow {
  color: #2e2f30;
  left: -0.7em;
  margin: auto 0;
  position: relative;
  transition: color 0.5s;
}

@keyframes bounce {
  0% {left: -0.3em; }
  50% { left: -0.6em; }
  100% {left: -0.3em; }
}

.back:hover > .arrow {
  animation: bounce 2s linear 0s infinite;
  color: #fffffa;
  transition: color 0.5s;
}

.title {
  font-size: 1.5em;
  margin: 0.5em 0;
}

.titlecontainer {
  margin: 0 auto;
}
