.page {
  background-color: #fffffa;
  color: #2e2f30;
}

.comments {
  background-color: #2e2f30;
  border-radius: 20px;
  color: #fffffa;
  position: fixed;
}

$screen-sm-min: 768px;
$screen-xs-max: $screen-sm-min;
$screen-md-min: 992px;
$screen-sm-max: $screen-md-min;
$screen-lg-min: 1200px;
$screen-md-max: $screen-lg-min;

@media(min-width: $screen-md-min) {
  .comments {
    height: 96vh;
    left: 52vw;
    top: 2vh;
    width: 46vw;
  }
}

@media(max-width: $screen-md-min) {
  .comments {
    height: 48vh;
    left: 0;
    top: 52vh;
    width: 99vw;
  }
}

.iframe {
  height: 80vh;
  width: 100%;
}

.flexify {
  display: flex;
}

.flexcols {
  display: flex;
  flex-direction: column;
}

.selector {
  margin: auto;
}

.circle {
  border: 4px solid #2e2f30;
  border-radius: 25px/25px;
  cursor: pointer;
  height: 25px;
  margin: auto;
  width: 25px;
}

.selected {
  background-color: rgb(0, 255, 0);
}

.selectedborder {
  animation: fadein 0.75s;
  border: solid 2px rgb(0, 255, 0);
  border-radius: 10px;
  margin: 1em;
  padding: 1em;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}
