@import url('https://fonts.googleapis.com/css?family=Volkhov');

.container {
  background-color: #2e2f30;
  color: #fffffa;
  font-family: 'Volkhov', serif;
  padding: 1vw 0;
  position: relative;
  text-align: center;
  top: 800px;
  width: 100%;
}

.container::before {
  border-bottom: 0 solid transparent;
  border-left: 100vw solid #2e2f30;
  border-top: 5vw solid transparent;
  content: '';
  height: 0;
  left: 0;
  position: absolute;
  top: -5vw;
  width: 0;
}

.text {
  border-radius: 3px 5px;
  border-right: 3px solid #2e2f30;
  border-top: 3px solid #2e2f30;
  margin: 2% auto;
  padding: 2em;
  position: relative;
  text-align: left;
}

@media only screen and (max-width : 700px) {
  .text { width: 80%; }
}

@media only screen and (min-width : 701px) and (max-width : 1200px) {
  .text { width: 60%; }
}

@media only screen and (min-width : 1201px) {
  .text { width: 33%; }
}

$link-color: darken(#fffffa, 50%);

.link {
  color: $link-color;
  text-decoration: none;
}

.link:hover {
  color: #fffffa;
  text-decoration: underline;
}
