.container {
  background: url('../../../../../static/circles-and-roundabouts.png');
  background-repeat: repeat;
  color: #2e2f30;
  font-family: 'Volkhov', serif;
  margin-top: 7em;
  padding: 10em 0;
  text-align: center;
}

.list {
  list-style-type: none;
  margin: 1.5em 0;
  padding-left: 0;
  text-decoration: none;
}

.list > li > a {
  color: lighten(#2e2f30, 40%);  
}

.list > li > a:hover {
  color: #2e2f30;
  cursor: pointer;
  text-decoration: none;
}

.semitransparent {
  background-color: rgba(#fffffa, 0.6);
  border-radius: 15px;
}
