.container {
  background: url('../../../../../static/circles-and-roundabouts.png');
  background-repeat: repeat;
  color: #2e2f30;
  font-family: 'Volkhov', serif;
  padding: 3em 0;
  text-align: center;
}

.container::before {
  background: linear-gradient(-45deg, transparent 75%, #2e2f30 76%) 0 50%,
    linear-gradient(45deg, transparent 75%, #2e2f30 76%) 0 50%;
  background-repeat: repeat-x;
  background-size: 8px 8px, 8px 8px;
  content: ' ';
  display: block;
  height: 8px;
  position: relative;
  top: -3em;
  width: 100%;
}

.list {
  list-style-type: none;
  margin: 1.5em 0;
  padding-left: 0;
  text-decoration: none;
}

.list > li > a {
  color: lighten(#2e2f30, 40%);  
}

.list > li > a:hover {
  color: #2e2f30;
  cursor: pointer;
  text-decoration: none;
}

.semitransparent {
  background-color: rgba(#fffffa, 0.6);
  border-radius: 15px;
}
